*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 20px;

}

.card{
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    margin: 10px;

}

.mb-3{
    width: 300px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;

}

.mb-3 input{
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}

.mb-3 input:focus{
    outline: none;
}